In [26]:
from IPython.display import display
import pandas as pd
import math

# INIT
G = 0b1101
M = 0b0010
RANGE = 16
K = 4
R = math.floor(math.log2(G)) 
N = K + R

EXE_PATH = './cmake-build-debug/cyclic_mode.exe'
options = ['-c', '-d', '-a']

# Start
data = []


def get_row(path, g, m, option):
    row = {}
    executable_path = f'{path} {option} {g} {m}'
    process = subprocess.Popen(executable_path, stdout=subprocess.PIPE)
    output = process.communicate()[0].decode('utf-8').split(', ')
    if option == '-c':
        row['g'] = bin(int(output[0])).replace('0b', '').zfill(K)
        row['m'] = bin(int(output[1])).replace('0b', '').zfill(K)
        row['a'] = bin(int(output[2])).replace('0b', '').zfill(N)
    elif option == '-d':
        row['m^'] = bin(int(output[0])).replace('0b', '').zfill(K)
        row['E'] = bin(int(output[1])).replace('0b', '')
    else:
        row['m1^'] = bin(int(output[0])).replace('0b', '').zfill(K)
        row['E1'] = bin(int(output[1])).replace('0b', '')
    return row


for e in range(RANGE):
    row = get_row(EXE_PATH, G, M, '-c')
    b = int(row['a'], 2) ^ e
    row['e'] = bin(e).replace('0b', '').zfill(N)
    row['b'] = bin(b).replace('0b', '').zfill(N)
    row1 = get_row(EXE_PATH, G, b, '-d')
    row2 = get_row(EXE_PATH, G, b, '-a')
    row.update(row1)
    row.update(row2)
    data.append(row)


df = pd.DataFrame(data)
display(df)

       g     m        a        e        b    m^  E   m1^ E1
0   1101  0010  0010111  0000000  0010111  0010  0  0010  0
1   1101  0010  0010111  0000001  0010110  0010  1  0010  1
2   1101  0010  0010111  0000010  0010101  0010  1  0010  1
3   1101  0010  0010111  0000011  0010100  0010  1  0010  1
4   1101  0010  0010111  0000100  0010011  0010  1  0010  1
5   1101  0010  0010111  0000101  0010010  0010  1  0010  1
6   1101  0010  0010111  0000110  0010001  0010  1  0010  1
7   1101  0010  0010111  0000111  0010000  0010  1  0010  1
8   1101  0010  0010111  0001000  0011111  0011  1  0011  1
9   1101  0010  0010111  0001001  0011110  0011  1  0011  1
10  1101  0010  0010111  0001010  0011101  0011  1  0011  1
11  1101  0010  0010111  0001011  0011100  0011  1  0011  1
12  1101  0010  0010111  0001100  0011011  0011  1  0011  1
13  1101  0010  0010111  0001101  0011010  0011  0  0011  0
14  1101  0010  0010111  0001110  0011001  0011  1  0011  1
15  1101  0010  0010111  0001111  0011000  0011  1  0011  1